<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
			rel="stylesheet"
		/>
		<title>HNavi</title>

		<link
			rel="shortcut icon"
			href="{{ url_for('static', filename='favicon.ico') }}"
		/>
	</head>
	<body>
		<!--
// v0 by Vercel.
// https://v0.dev/t/m14MPor4I2z
-->
		<div
			class="flex flex-col items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-900"
		>
			<button
				class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
				onclick="location.href='{{ url_for('index') }}'"
			>
				한글로 보기
			</button>
			<div class="grid grid-cols-3 gap-8 w-full max-w-4xl p-4">
				<a
					class="group flex flex-col items-center justify-center p-4 rounded-lg transition-colors hover:bg-gray-200 dark:hover:bg-gray-800 shadow-2xl"
					href="{{ url_for('map_en') }}"
					><img
						src="{{ url_for('static', filename='img/map.png') }}"
						alt="Map"
						class="w-24 h-24 mb-4"
						width="100"
						height="100"
						style="aspect-ratio: 100 / 100; object-fit: cover"
					/>
					<h2 class="text-lg font-semibold">Map</h2>
					<p class="text-sm text-gray-500 dark:text-gray-400">
						Use the directions feature.
					</p></a
				><a
					class="group flex flex-col items-center justify-center p-4 rounded-lg transition-colors hover:bg-gray-200 dark:hover:bg-gray-800 shadow-2xl"
					href="{{ url_for('upload') }}"
					><img
						src="{{ url_for('static', filename='img/upload.png') }}"
						alt="Upload"
						class="w-24 h-24 mb-4"
						width="100"
						height="100"
						style="aspect-ratio: 100 / 100; object-fit: cover"
					/>
					<h2 class="text-lg font-semibold">Upload</h2>
					<p class="text-sm text-gray-500 dark:text-gray-400">
						Upload a GoPro video file.
					</p></a
				><a
					class="group flex flex-col items-center justify-center p-4 rounded-lg transition-colors hover:bg-gray-200 dark:hover:bg-gray-800 shadow-2xl"
					href="{{ url_for('dbview_en') }}"
					><img
						src="{{ url_for('static', filename='img/db.png') }}"
						alt="DB"
						class="w-24 h-24 mb-4"
						width="100"
						height="100"
						style="aspect-ratio: 100 / 100; object-fit: cover"
					/>
					<h2 class="text-lg font-semibold">Database</h2>
					<p class="text-sm text-gray-500 dark:text-gray-400">
						Check the data stored in the DB.
					</p></a
				>
			</div>
		</div>
	</body>
</html>
