html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	border: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.Wrap {
	width: 100%;
	height: 100%;
}

.Title {
	width: 100%;
	height: 51.67px;
	position: relative;
}

.Background {
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	background: #d9d9d9;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.Exit {
	width: 10.57px;
	height: 10.42px;
	left: 92%;
	right: 10px;
	top: 7px;
	position: absolute;
}

.fullAddress {
	width: 130px;
	height: 11.67px;
	left: 54%;
	top: 33.33px;
	position: absolute;
	text-align: right;
	color: black;
	font-size: 10px;
	font-family: Pretendard;
	font-weight: 600;
	word-wrap: break-word;
}

.Address {
	width: 234.97px;
	height: 38.33px;
	left: 16.09px;
	top: 25%;
	position: absolute;
	color: black;
	font-size: 20px;
	font-family: Pretendard;
	font-weight: 700;
	word-wrap: break-word;
}

.Details {
	height: 130px;
	background-color: #fff;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 1rem;
}

.Detail {
	height: 100%;
	padding-left: 1rem;
	padding-top: 0.2rem;
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(100px, 1fr)
	); /* 반응형 그리드 열 */
}

.icon-container {
	display: grid;
	grid-template-columns: 0.3fr 0.6fr;
	gap: 0.25rem;
	align-items: center;
}

.icon-container svg {
	width: 28px;
	height: 27px;
	fill: #f24e1e;
}

.detailText {
	text-align: left;
	font-family: Pretendard;
	font-size: 0.8rem;
	font-weight: 600;
	white-space: nowrap;
}

.Congestion {
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 0.25rem;
	padding-right: 5rem;
}

.congestion-text,
.congestion-text2 {
	font-family: Pretendard;
	font-size: 1.7rem;
	font-weight: 600;
	display: flex;
	justify-content: center;
}

.congestion-text {
	align-items: flex-end;
}

.congestion-text span,
.congestion-text2 span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
