<!DOCTYPE html>
<html>
	<head>
		<title>Detail</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			* {
				text-align: center;
			}

			html,
			body {
				height: 100%;
				margin: 0;
				padding: 0;
			}

			.flex-center {
				display: flex;
				justify-content: center;
				align-items: center;
				min-height: 100vh;
			}
		</style>

		<link
			rel="shortcut icon"
			href="{{ url_for('static', filename='favicon.ico') }}"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div id="detection"></div>
		<br />
		<p>Scroll to view photos</p>
		<br />
		<script>
			const getDataFromJSON = () => {
				fetch("{{ IMAGEAPIURL }}")
					.then((response) => response.json())
					.then((data) => {
						const images = data.images;
						const detection = data.detection;
						showImages(images);
						showDetection(detection);
					})
					.catch((error) => {
						console.log(error);
					});
			};

			const showImages = (images) => {
				for (let i = 0; i < images.length; i++) {
					const image = images[i];
					const imageElement = document.createElement("img");
					imageElement.src = `data:image/png;base64,${image}`;
					document.body.appendChild(imageElement);
				}
			};

			const showDetection = (detection) => {
				const detectionElement = document.getElementById("detection");
				detectionElement.innerHTML = detection;
			};

			getDataFromJSON();
		</script>
	</body>
</html>
