<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
			rel="stylesheet"
		/>
		<title>HNavi</title>

		<link
			rel="shortcut icon"
			href="{{ url_for('static', filename='favicon.ico') }}"
		/>
	</head>
	<body>
		<!--
// v0 by Vercel.
// https://v0.dev/t/m14MPor4I2z
-->
		<div
			class="flex flex-col items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-900"
		>
			<div class="grid grid-cols-3 gap-8 w-full max-w-4xl p-4">
				<a
					class="group flex flex-col items-center justify-center p-4 rounded-lg transition-colors hover:bg-gray-200 dark:hover:bg-gray-800 shadow-2xl"
					href="{{ url_for('map') }}"
					><img
						src="{{ url_for('static', filename='img/map.png') }}"
						alt="Map"
						class="w-24 h-24 mb-4"
						width="100"
						height="100"
						style="aspect-ratio: 100 / 100; object-fit: cover"
					/>
					<h2 class="text-lg font-semibold">지도</h2>
					<p class="text-sm text-gray-500 dark:text-gray-400">
						길찾기 기능을 사용합니다.
					</p></a
				><a
					class="group flex flex-col items-center justify-center p-4 rounded-lg transition-colors hover:bg-gray-200 dark:hover:bg-gray-800 shadow-2xl"
					href="{{ url_for('upload') }}"
					><img
						src="{{ url_for('static', filename='img/upload.png') }}"
						alt="Upload"
						class="w-24 h-24 mb-4"
						width="100"
						height="100"
						style="aspect-ratio: 100 / 100; object-fit: cover"
					/>
					<h2 class="text-lg font-semibold">업로드</h2>
					<p class="text-sm text-gray-500 dark:text-gray-400">
						GoPro 영상 파일을 업로드합니다.
					</p></a
				><a
					class="group flex flex-col items-center justify-center p-4 rounded-lg transition-colors hover:bg-gray-200 dark:hover:bg-gray-800 shadow-2xl"
					href="{{ url_for('dbview') }}"
					><img
						src="{{ url_for('static', filename='img/db.png') }}"
						alt="DB"
						class="w-24 h-24 mb-4"
						width="100"
						height="100"
						style="aspect-ratio: 100 / 100; object-fit: cover"
					/>
					<h2 class="text-lg font-semibold">데이터베이스</h2>
					<p class="text-sm text-gray-500 dark:text-gray-400">
						DB에 저장된 데이터를 확인합니다.
					</p></a
				>
			</div>
		</div>
	</body>
</html>
