<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<link
			href="https://releases.transloadit.com/uppy/v3.17.0/uppy.min.css"
			rel="stylesheet"
		/>

		<style>
			body {
				display: grid;
				place-items: center;
				min-height: 100dvh;
			}
		</style>
	</head>
	<body>
		<div id="uppy"></div>

		<script type="module">
			import {
				Uppy,
				Dashboard,
				XHRUpload,
			} from "https://releases.transloadit.com/uppy/v3.17.0/uppy.min.mjs";
			const uppy = new Uppy();
			uppy.use(Dashboard, { target: "#uppy", inline: true }).use(
				XHRUpload,
				{
					endpoint: "/upload",
					timeout: 300 * 1000,
					showProgressDetails: true,
					getResponseData(responseText, response) {
						if (response.status === 200) {
							if (
								confirm("Upload complete, press OK to continue")
							) {
								location.href = "/db";
							}
						} else {
							alert(responseText);
						}
					},
				}
			);
		</script>
	</body>
</html>
